/* VARIABLES */
:root{
  --color1: #ffffff;
  --color2: #1992d3;
  --color3: #e2e8f0;
  --color4: #000000;
}

/* ELEMENT SELECTORS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: var(--color1);
}

ul{
  list-style: none;
}


/* CLASS SELECTORS */
.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px 4fr;
}

.sidebar{
  background-color: var(--color2);
  color: var(--color1);
  padding: 2rem;
  grid-row: span 3;
  display: grid;  
  grid-template-rows: auto auto 1fr;
  gap: 3rem;
}

.nav-list ul,
.nav-settings ul{ 
  display: grid;
  gap: 1rem;
}

.nav-logo svg{
  margin-right: 10px;
  scale: 1.5;
}

.nav-list svg,
.nav-settings svg{
  position: relative;
  scale: 1.2;
  margin-right: 10px;
  top: 5px;
}

.nav-logo svg{
  display: inline;
}

.header{
  background-color: var(--color1);
  grid-column: 2 / span 3;
  display: grid;
  align-items: center;
  padding: 0 2rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 60px 80px;
}

.profile-icon{
  border-radius: 50%;
}

.small-icon{
  width: 2rem;
}

.big-icon{
  width: 4rem;
}

.profile-container,
.button-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: right;
}

.button-container button{
  width: 5rem;
  padding: .5rem 0;
  border: none;
  color: var(--color1);
  background-color: var(--color2);
  border-radius: 20px;
  cursor: pointer;

}

.welcome-container{
  display: flex;
  align-items: center;
}

.welcome-container a{
  color: var(--color4);
}



.main-content{
  background-color: var(--color3);
}

/* ID SELECTORS */

#logo{
  display: inline;
}
