/* VARIABLES */
:root{
  --color1: #ffffff;
  --color2: #1992d3;
  --color3: #e2e8f0;
}

/* ELEMENT SELECTORS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: var(--color1);
}


/* CLASS SELECTORS */
.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 4fr;
}

.header{
  background-color: var(--color1);
  grid-column: 2 / span 3;
}

.sidebar{
  background-color: var(--color2);
  color: var(--color1);
  padding: 2rem;
  grid-row: span 3;
  display: grid;  
  grid-template-rows: auto auto 1fr;
  gap: 3rem;
}

.nav-list ul,
.nav-settings ul{ 
  display: grid;
  gap: 1rem;
}

.main-content{
  background-color: var(--color3);
}

/* ID SELECTORS */